<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
    {% if messages %}
    <ul class="messages container">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-success" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">


    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% include 'header.html' %}

    {% block body %}
    {% endblock %}

    {% include 'cart/asside_cart.html' %}
    {% include 'fotter.html' %}

    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>